<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Selecting & Retrieving Data with SQL

## 1.1 Let's first connect to our Database

In [ ]:
# We will first load the sql extension into our environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed
#
%sql sqlite://

'Connected: @None'

## 1.2 Importing Data From a CSV File

In [ ]:
# Importing the python libraries that we will need in this notebook
#
import csv
import pandas as pd

Then we will download our csv file from Interpol: [here](https://bit.ly/InterpolDataset) and World Cup [here](http://bit.ly/MSWorldCupData)  . Open the link and then on our browser  Click File > Save Page As > Save. Lastly, upload it to our current environment on Colaboratory by clicking View > Table of Contents > Files then Upload.  (NB: Do not load file from url)

In [ ]:
# Loading the first table from a local CSV file
#
with open('Countries.csv','r') as f:
    Interpol = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Then storing it in an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol;

 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [ ]:
# We will load all the other dataset that we will need i.e. WorldCup
#
with open('WorldCup.csv','r') as f:
    WorldCup = pd.read_csv(f, index_col=0, encoding='utf-8') 
    
%sql DROP TABLE if EXISTS WorldCup;
%sql PERSIST WorldCup;

 * sqlite://
Done.
 * sqlite://

'Persisted worldcup'

In [ ]:
# Let's preview our Interpol table so that we can understand it
# Try to understand all the attributes (i.e columns) since this
# will be one of the datasets that we will work with through this session
#
%sql select * from Interpol limit 5;

In [ ]:
# Let's preview our Worldcup table so that we can also understand it.
# You will be acting as a football commentator performing research on the 
# world cup matches played in the past.
# 
%sql SELECT * FROM WorldCup limit 5;

## 1.3 Select Single Columns

In [ ]:
# Example 1
# This is how we will select a single column (i.e. the Country Column) from the Interpol Dataset
#
%%sql
SELECT Country FROM Interpol;

In [ ]:
# Example 2
# Let's get the European countries without National fugitives  
# 
%%sql
SELECT Country FROM Interpol
WHERE 'National Fugitives' = 0 AND Region = 'Europe'

 * sqlite://
Done.

[]

In [ ]:
# Example 3
# Let's select the regions without National fugitives
#
%%sql
SELECT Region FROM Interpol
WHERE 'National Fugitives' = 0 Wanted Fugitives

 * sqlite://
Done.

[]

### <font color="green"> 1.3 Challenges</font>

In [ ]:
# Challenge 1
# Using the Interpol Dataset, let us get the Northern African countries that  
# do not host possible fugitives or captured fugitives
# 

%%sql
SELECT * FROM Interpol Where Region = "Northern Africa" AND "National Fugitives" = 0

 * sqlite://
Done.

[('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif')]

In [ ]:
# Challenge 2
# Using the Interpol Dataset, let us get the countries without a National fugitive and a Wanted fugitive
#

%%sql
SELECT * FROM Interpol Where "National Fugitives" = 0 AND "Wanted Fugitives" = 1

 * sqlite://
Done.

[('Botswana', 0, 1, 1, 'Southern Africa', 'http://www.crwflags.com/fotw/images/b/bw.gif'),
 ('Costa Rica', 0, 1, 2, 'Central America', 'http://www.crwflags.com/fotw/images/c/cr.gif'),
 ('Curaçao', 0, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/c/cw.gif'),
 ('Mali', 0, 1, 0, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/m/ml.gif'),
 ('Norway', 0, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/n/no.gif'),
 ('Tanzania', 0, 1, 2, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/t/tz.gif'),
 ('Venezuela', 0, 1, 0, 'South America', 'http://www.crwflags.com/fotw/images/v/ve.gif')]

In [ ]:
# Challenge 3
# Using the Interpol Dataset, which european countries have 3 National Fugitives
# 

%%sql
SELECT * FROM Interpol Where "National Fugitives" =3 AND "Region" = 'Europe'

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Czech Republic', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/c/cz.gif'),
 ('Montenegro', 3, 2, 1, 'Europe', 'http://www.crwflags.com/fotw/images/m/me.gif')]

## 1.4 Multiple columns

In [ ]:
# Example 1
# Using the Interpol dataset, we would like to know the countries and their respective No. of Captured fugitives.
#
%%sql
SELECT Country, "Possible Hosted Fugitives / Captured Fugitives" FROM Interpol;

In [ ]:
# Example 2
# Using the world cup dataset, let's get teams that played in the matches with their respective referee
# 
%%sql
SELECT "Home_Team_Name", "Away_Team_Name", Referee FROM WorldCup LIMIT 5;

In [ ]:
# Example 3
# Find out any three matches that have had 5 away goals  
#
%%sql
SELECT * FROM WorldCup Where "Away_Team_Goals" = 5 LIMIT 3

 * sqlite://
Done.

[(1938, '05 Jun 1938 - 17:30 ', 'First round', 'Stade de la Meinau', 'Strasbourg ', 'Brazil', 6, 5, 'Poland', 'Brazil win after extra time ', 13452.0, 0, 0, 'EKLIND Ivan (SWE)', 'POISSANT Louis (FRA)', 'KISSENBERGER Ernest (FRA)', 206, 1150, 'BRA', 'POL'),
 (1954, '26 Jun 1954 - 17:00 ', 'Quarter-finals', 'La Pontaise', 'Lausanne ', 'Austria', 7, 5, 'Switzerland', ' ', 35000.0, 5, 4, 'FAULTLESS Charlie (SCO)', 'ASENSI Manuel (ESP)', 'SCHMETZER Emil (FRG)', 212, 1237, 'AUT', 'SUI'),
 (1986, '18 Jun 1986 - 16:00 ', 'Round of 16', 'Estadio Corregidora', 'Queretaro ', 'Denmark', 1, 5, 'Spain', ' ', 38500.0, 1, 1, 'KEIZER Jan (NED)', 'BENNACEUR Ali (TUN)', 'DOTCHEV Bogdan (BUL)', 309, 511, 'DEN', 'ESP')]

### <font color="green"> 1.4 Challenges</font>

In [ ]:
# Challenge 1
# From the Interpol dataset, let's get countries with their respective 
# No. of National fugitives and Wanted fugitives
# 
%%sql
SELECT Country, "National fugitives", "Wanted fugitives" FROM Interpol;

In [ ]:
# Challenge 2
# Using WorldCup dataset, find out which group 4 world cup matches 
# that were played in the city of Montevideo 
#
%%sql
SELECT * FROM WorldCup 
WHERE City="Montevideo " AND Stage="Group 4";

 * sqlite://
Done.

[(1930, '13 Jul 1930 - 15:00 ', 'Group 4', 'Parque Central', 'Montevideo ', 'USA', 3, 0, 'Belgium', ' ', 18346.0, 2, 0, 'MACIAS Jose (ARG)', 'MATEUCCI Francisco (URU)', 'WARNKEN Alberto (CHI)', 201, 1090, 'USA', 'BEL'),
 (1930, '17 Jul 1930 - 14:45 ', 'Group 4', 'Parque Central', 'Montevideo ', 'USA', 3, 0, 'Paraguay', ' ', 18306.0, 2, 0, 'MACIAS Jose (ARG)', 'APHESTEGUY Martin (URU)', 'TEJADA Anibal (URU)', 201, 1097, 'USA', 'PAR'),
 (1930, '20 Jul 1930 - 15:00 ', 'Group 4', 'Estadio Centenario', 'Montevideo ', 'Paraguay', 1, 0, 'Belgium', ' ', 12000.0, 1, 0, 'VALLARINO Ricardo (URU)', 'MACIAS Jose (ARG)', 'LOMBARDI Domingo (URU)', 201, 1089, 'PAR', 'BEL')]

In [ ]:
# Challenge 3
# Answering the same question as challenge 2, we would like to get only one match
# 
# OUR CODE GOES HERE
WorldCup.head(2)

                  Datetime    Stage  ... Home_Team_Initials Away_Team_Initials
Year                                 ...
1930  13 Jul 1930 - 15:00   Group 1  ...                FRA                MEX
1930  13 Jul 1930 - 15:00   Group 4  ...                USA                BEL

[2 rows x 19 columns]

In [ ]:
WorldCup["City"].value_counts()

Mexico City        23
Montevideo         18
Rio De Janeiro     18
Guadalajara        17
Johannesburg       15
                   ..
Le Havre            1
Lille               1
Reims               1
Strasbourg          1
Trieste             1
Name: City, Length: 151, dtype: int64

In [ ]:
%%sql
SELECT * FROM WorldCup 
WHERE City="Montevideo " AND Stage="Group 1" LIMIT 1;

 * sqlite://
Done.

[(1930, '13 Jul 1930 - 15:00 ', 'Group 1', 'Pocitos', 'Montevideo ', 'France', 4, 1, 'Mexico', ' ', 4444.0, 3, 0, 'LOMBARDI Domingo (URU)', 'CRISTOPHE Henry (BEL)', 'REGO Gilberto (BRA)', 201, 1096, 'FRA', 'MEX')]

In [ ]:
%%sql
SELECT * FROM Interpol LIMIT 10;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif'),
 ('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif'),
 ('Belarus', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/by.gif'),
 ('Belgium', 0, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/be.gif'),
 ('Belize', 1, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/b/bz.gif'),
 ('Bolivia', 0, 0, 2, 'South America', 'http://www.crwflags.com/fotw/images/b/bo.gif')]

In [ ]:
# SELECT Country FROM Interpol LIMIT 10;
Interpol.columns.value_counts()

Region                                            1
National Fugitives                                1
Possible Hosted Fugitives / Captured Fugitives    1
Wanted Fugitives                                  1
Flag                                              1
dtype: int64

## 1.5 Orderby

In [ ]:
# Example 1
# Using the Interpol dataset, let's get all our records ordering 
# them by the region in ascending order
#
%%sql
SELECT * FROM Interpol
ORDER BY Region ASC;

In [ ]:
# Example 2
# We can do the same as in example 1 but now having the records in descending order 
# as shown below
#
%%sql
SELECT * FROM Interpol
ORDER BY Country DESC;

In [ ]:
# Example 3 
# Using the Worldcup dataset, we can select 5 World Cup Group 1 matches played 
# after 1950 and having them ordered by city in ascending order as shown below
#
%%sql
SELECT * FROM WorldCup
WHERE Stage='Group 1' AND Year > 1950
ORDER BY City ASC
LIMIT 5;

 * sqlite://
Done.

[(1962, '30 May 1962 - 15:00 ', 'Group 1', 'Carlos Dittborn', 'Arica ', 'Uruguay', 2, 1, 'Colombia', ' ', 7908.0, 0, 1, 'DOROGI Andor (HUN)', 'ETZEL FILHO Joao (BRA)', 'GALBA Karol (TCH)', 231, 1479, 'URU', 'COL'),
 (1962, '31 May 1962 - 15:00 ', 'Group 1', 'Carlos Dittborn', 'Arica ', 'Soviet Union', 2, 0, 'Yugoslavia', ' ', 9622.0, 0, 0, 'DUSCH Albert (GER)', 'ETZEL FILHO Joao (BRA)', 'ROBLES Carlos (CHI)', 231, 1563, 'URS', 'YUG'),
 (1962, '02 Jun 1962 - 15:00 ', 'Group 1', 'Carlos Dittborn', 'Arica ', 'Yugoslavia', 3, 1, 'Uruguay', ' ', 8829.0, 2, 1, 'GALBA Karol (TCH)', 'DUSCH Albert (GER)', 'JONNI Cesare (ITA)', 231, 1564, 'YUG', 'URU'),
 (1962, '03 Jun 1962 - 15:00 ', 'Group 1', 'Carlos Dittborn', 'Arica ', 'Soviet Union', 4, 4, 'Colombia', ' ', 8040.0, 3, 1, 'ETZEL FILHO Joao (BRA)', 'DOROGI Andor (HUN)', 'ROBLES Carlos (CHI)', 231, 1478, 'URS', 'COL'),
 (1962, '06 Jun 1962 - 15:00 ', 'Group 1', 'Carlos Dittborn', 'Arica ', 'Soviet Union', 2, 1, 'Uruguay', ' ', 9973.0, 1, 0, 'JONNI Cesare (ITA)', 'DOROGI Andor (HUN)', 'DUSCH Albert (GER)', 231, 1562, 'URS', 'URU')]

### <font color="green"> 1.5 Challenges</font>

In [ ]:
# Challenge 1
# Using Interpol Dataset, select all the records and order them by National Fugitives in ascending order
# 
%%sql
SELECT * FROM Interpol
ORDER BY "National Fugitives" ASC;

In [ ]:
# Challenge 2
# Using WorldCup Dataset, get the matches played in the Pocitos stadium and their attendance 
# later than 1950 and ordering them by attendance in descending order
# 
%%sql
SELECT * FROM WorldCup
WHERE Stadium="Pocitos" AND Year < 1950
ORDER BY attendance DESC;

 * sqlite://
Done.

[(1930, '13 Jul 1930 - 15:00 ', 'Group 1', 'Pocitos', 'Montevideo ', 'France', 4, 1, 'Mexico', ' ', 4444.0, 3, 0, 'LOMBARDI Domingo (URU)', 'CRISTOPHE Henry (BEL)', 'REGO Gilberto (BRA)', 201, 1096, 'FRA', 'MEX'),
 (1930, '14 Jul 1930 - 14:50 ', 'Group 3', 'Pocitos', 'Montevideo ', 'Romania', 3, 1, 'Peru', ' ', 2549.0, 1, 0, 'WARNKEN Alberto (CHI)', 'LANGENUS Jean (BEL)', 'MATEUCCI Francisco (URU)', 201, 1098, 'ROU', 'PER')]

In [ ]:
# Challenge 3
# Get the World Cup Matches played in France after 1970 ordered by years in descending order 
#
%%sql
SELECT * FROM WorldCup
WHERE Home_Team_Name="France" AND Year > 1970
ORDER BY Year DESC;

## 1.6 Where

In [ ]:
# Example 1
# From our Interpol dataset, let's find out which Countries have had three or more than three National Fugitives.
#
%%sql
SELECT * FROM Interpol
WHERE Region = 'Europe';

In [ ]:
# Example 2
# From our Interpol dataset, let's get the European countries and the no of Wanted fugitives they have
#
%%sql
SELECT Country, "Wanted Fugitives" FROM Interpol
WHERE Region = 'Europe';

In [ ]:
# Example 3
# From our WorldCup dataset, Let us select the home teams, away teams 
# and the respective no. of home team goals, no. of away team goals
# for the years after 1950
#
%%sql
SELECT Year, Stage, Home_Team_Name, Home_Team_Goals, Away_Team_Name, Away_Team_Goals FROM WorldCup
WHERE Year > 1930
LIMIT 7;

 * sqlite://
Done.

[(1934, 'Preliminary round', 'Austria', 3, 'France', 2),
 (1934, 'Preliminary round', 'Hungary', 4, 'Egypt', 2),
 (1934, 'Preliminary round', 'Switzerland', 3, 'Netherlands', 2),
 (1934, 'Preliminary round', 'Sweden', 3, 'Argentina', 2),
 (1934, 'Preliminary round', 'Germany', 5, 'Belgium', 2),
 (1934, 'Preliminary round', 'Spain', 3, 'Brazil', 1),
 (1934, 'Preliminary round', 'Italy', 7, 'USA', 1)]

### <font color="green"> 1.6 Challenges</font>

In [ ]:
# Challenge 1
# From our Interpol dataset, find out which  country had the most Captured Fugitives 
#
%%sql
SELECT Country,MAX("Captured Fugitives") as Captured_Fugitives FROM Interpol

 * sqlite://
Done.

[('Albania', 'Captured Fugitives')]

In [ ]:
# Challenge 2
# Using our Interpol dataset, get the european and asian countries;
#
%%sql
SELECT * FROM Interpol
WHERE  Region = 'Asia' OR Region ='Europe';

In [ ]:
# Challenge 3 
# From our Interpol dataset, find out which top countries had the least National fugities
#
%%sql
SELECT Country,MIN("National Fugitives") as National_Fugitives  FROM Interpol

 * sqlite://
Done.

[('Angola', 0)]

## 1.7 Between

In [ ]:
# Example 1
# Select the countries with national fugitives between 0 and 3 ordered by nationnal fugitives ascending order
#
%%sql
SELECT Country, "National Fugitives" FROM Interpol
WHERE "National Fugitives" BETWEEN 0 AND 3 ORDER BY "National Fugitives" ASC;

In [ ]:
# Example 2
# Select the countries with national fugitives not between 0 and 4 ordered by nationnal fugitives ascending order
#
%%sql
SELECT Country, "National Fugitives" FROM Interpol
WHERE "National Fugitives" NOT BETWEEN 0 AND 4 ORDER BY "National Fugitives" ASC;

In [ ]:
# Example 3
# Select any 5 matches played after 1950 which did not have the home team as Germany
#
%%sql
SELECT * FROM WorldCup
WHERE NOT "Home Team Name" = 'Germany' AND NOT Year < 1950
LIMIT 5;

### <font color="green"> 1.7 Challenges</font>

In [ ]:
# Challenge 1
# From the Interpol dataset, get all asian countries with wanted fugitives between 0 and 2
#
%%sql
SELECT Country, "Wanted Fugitives" FROM Interpol
WHERE Region = "Asia" AND "Wanted Fugitives" BETWEEN 0 AND 2 ;

 * sqlite://
Done.

[('Bangladesh', 1),
 ('Cambodia', 0),
 ('Georgia, Asia', 2),
 ('India', 0),
 ('Indonesia', 1),
 ('Iraq', 0),
 ('Pakistan', 0),
 ('Qatar', 0)]

In [ ]:
# Challenge 2
# From the World cup dataset, get all the matches that were played later than 1980 with an attendance less than 5000 
# 
%%sql
SELECT * FROM WorldCup
WHERE Attendance >5000 AND  Year < 1980

In [ ]:
# Challenge 3 
# Which matches were played between the year 1990 and 2000?
# 
%%sql
SELECT * FROM WorldCup
WHERE   Year BETWEEN 1990 AND 2000

## 1.8 Distinct

In [ ]:
# Example 1
# Let's find out which stadiums have hosted world cup matches
%%sql
SELECT DISTINCT Stadium FROM WorldCup;

In [ ]:
# Example 2
# Let's find out which world cup cities have hosted world cup matches after 2000
#
%%sql
SELECT DISTINCT City FROM WorldCup WHERE Year > 2000;

### <font color="green"> 1.8 Challenges</font>

In [ ]:
# Challenge 1
# Name the stages in the world cup and order them alphabetically by stage.
# 
%%sql
SELECT DISTINCT Stage FROM WorldCup ORDER BY Stage ASC;

 * sqlite://
Done.

[('Final',),
 ('First round',),
 ('Group 1',),
 ('Group 2',),
 ('Group 3',),
 ('Group 4',),
 ('Group 5',),
 ('Group 6',),
 ('Group A',),
 ('Group B',),
 ('Group C',),
 ('Group D',),
 ('Group E',),
 ('Group F',),
 ('Group G',),
 ('Group H',),
 ('Match for third place',),
 ('Play-off for third place',),
 ('Preliminary round',),
 ('Quarter-finals',),
 ('Round of 16',),
 ('Semi-finals',),
 ('Third place',)]

In [ ]:
# Challenge 2
# Which cities hosted the world cup between 1950 and 2000?
#
%%sql
SELECT DISTINCT City FROM WorldCup WHERE Year BETWEEN 1950 AND 2000;

In [ ]:
# Challenge 3
# During which years was the world cup hosted in?
#
%%sql
SELECT DISTINCT Year FROM WorldCup;

 * sqlite://
Done.

[(1930,),
 (1934,),
 (1938,),
 (1950,),
 (1954,),
 (1958,),
 (1962,),
 (1966,),
 (1970,),
 (1974,),
 (1978,),
 (1982,),
 (1986,),
 (1990,),
 (1994,),
 (1998,),
 (2002,),
 (2006,),
 (2010,),
 (2014,)]

## 1.9 Count

In [ ]:
# Example 1
# How many countries were listed in interpol's data? 
#
%%sql
SELECT COUNT(Country) FROM Interpol;

In [ ]:
# Example 2
# How many times has Brazil played home during world cup matches?
#
%%sql
SELECT COUNT("Home_Team_Name") FROM WorldCup where Home_Team_Name = 'Brazil';

In [ ]:
# Example 3
# Find out the number of times that stadiums have hosted matches in the World Cup? 
# 
%%sql
SELECT COUNT(Stadium)
FROM WorldCup;

### <font color="green"> 1.9 Challenges</font>

In [ ]:
# Challenge 1
# Using Interpol Dataset, find out how many wanted fugitives there are in Northern Africa.
# 
%%sql
SELECT COUNT("Wanted Fugitives") FROM Interpol WHERE Region = "Northern Africa";

 * sqlite://
Done.

[(2,)]

In [ ]:
# Challenge 2
# Using WorldCup Dataset, find out how many Possible Hosted Fugitives / Captured Fugitives 
# there are in Europe and Northern Africa.
# 
%%sql
SELECT COUNT("Possible Hosted Fugitives / Captured Fugitives") FROM WorldCup where Home_Team_Name = 'Northern Africa' AND Home_Team_Name = 'Brazil';

 * sqlite://
Done.

[(0,)]

In [ ]:
# Challenge 3
# Using WorldCup dataset, find out how many away teams were played where a team scored more than 3 goals.
# 
%%sql
SELECT COUNT("Home Team Goals") FROM Interpol WHERE "Home Team Goals" <3;

 * sqlite://
Done.

[(0,)]

## 1.10 Groupby

In [ ]:
# Example 1
# Which three stadiums have hosted the most world cup games?
#
%%sql
SELECT Stadium, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) DESC LIMIT 3;

In [ ]:
# Example 2
# Which three stadiums have hosted the least world cup games?
#
%%sql
SELECT City, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) ASC LIMIT 3;

### <font color="green"> 1.10 Challenges</font>

In [ ]:
# Challenge 1
# What has been the largest no. of home goals scored by three home teams? 
# 
%%sql
SELECT City, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) ASC LIMIT 3;

In [ ]:
# Challenge 2
# Which away teams have scored the lowest no. of away goals?
# 
%%sql
SELECT City, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) ASC LIMIT 3;

In [ ]:
# Challenge 3
# Select records from the World Cup Dataset grouping by City 
# 
%%sql
SELECT City, COUNT(City)
FROM WorldCup 
GROUP BY City;

##1.11 Null Values

In [ ]:
# Example 1
# Select any one record from the world cup dataset that has null examples?
# 
%%sql
SELECT *
FROM WorldCup
WHERE Attendance IS NULL LIMIT 1;

In [ ]:
# Example 2
# Select any 5 records without null examples from the Worldcup Dataset 
#
%%sql
SELECT *
FROM WorldCup
WHERE City IS NOT NULL
LIMIT 5;

### <font color="green"> 1.11 Challenges</font>

In [ ]:
# Challenge 1
# Using the Worldcup dataset, select all the records that contain null values?
#
%%sql
SELECT * FROM WorldCup WHERE COALESCE(Year, Datetime, Stage,  Stadium,  
City, Home_Team_Name, Home_Team_Goals,  Away_Team_Goals,  Away_Team_Name,
  Win_conditions, Attendance, Halftime_Home_Goals,  Halftime_Away_Goals,  Referee,  Assistant1,
    Assistant2, RoundID,  MatchID,  Home_Team_Initials, Away_Team_Initials) IS NULL 
LIMIT 5;

 * sqlite://
Done.

[]

In [ ]:
# Challenge 2
# Select all the records that do not contain null values from the Interpol dataset
#
%%sql
SELECT * FROM Interpol WHERE COALESCE("Country", "National Fugitives",  "Wanted Fugitives", "Possible Hosted Fugitives / Captured Fugitives", "Region", "Flag") IS NOT NULL